.SinglePost {
  width: 90%;
  margin: 0 auto 20px;
  padding-bottom: 20px;
  overflow: hidden;
  border-bottom: 1px solid #555;
}

.SinglePost .ImageWrap {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgba(120, 120, 120, 0.25);
  float: right;
  overflow: hidden;
}

.SinglePost .ImageWrap img {
  width: 100%;
  height: 100%;
}

.SinglePost .PostTitle {
  width: calc(100% - 150px);
  margin-bottom: 10px;
  float: left;
}

.SinglePost .PostDate {
  width: calc(100% - 150px);
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
  clear: left;
  float: left;
}

.SinglePost .PostContent {
  width: 100%;
  font-style: italic;
  white-space: pre-wrap;
  clear: left;
  float: left;
}

.Comments {
  width: 90%;
  margin: 0 auto 20px;
  padding-bottom: 20px;
}

.Comments {

}

.Comments {

}

.Comments {

}

.Comments {

}

.Comments {

}

.Comments {

}
