.Button {
  padding: 5px 10px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  box-shadow: 3px 3px 2px 2px rgba(80, 80, 80, 0.75);
  outline: none;
}

.Button:active {
  box-shadow: 2px 2px 1px 1px rgba(80, 80, 80, 0.75);
}