.PostSample {
  margin-bottom: 15px;
  padding: 20px;
  border: 1px solid #777;
  border-radius: 5px;
  box-shadow: 3px 3px 2px 2px rgba(120, 120, 120, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PostSample .ImageWrap {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgba(120, 120, 120, 0.25);
  overflow: hidden;
}

.PostSample .ImageWrap img {
  width: 100%;
  height: 100%;
}

.PostSample .PostContent {
  flex: 3;
  margin: 0 20px;
}

.PostSample .PostTitle {
  font-style: italic;
  margin-bottom: 10px;
}

.PostSample .PostDate {
  font-size: 14px;
  color: #555;
  margin-right: 20px;
}

.PostSample .PostReadMore {
  color: darkblue;
  cursor: pointer;
}

.PostSample .RemovePost {
  color: darkred;
  cursor: pointer;
}