.AddPost {
  width: 90%;
  margin: 0 auto;
}

.AddPost .PageTitle {
  margin-bottom: 15px;
  padding: 10px 15%;
}

.AddPostForm {

}

.AddPostForm {

}

.AddPostForm {

}

.AddPostForm {

}

.AddPostForm {

}

.AddPostForm {

}

.AddPostForm {

}